@use "./Header/_header.scss";
@use "./Card/_card.scss";
@use "./GameTable/_gameTable.scss";

body {
  font-family: Gilroy;
  line-height: 100%;
}

.container {
  padding: 30px 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
