@use "./gameState.scss";
@use "./menu.scss";

.logo {
  height: 100%;
  width: 215px;
}

.header {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-top: 75px;
  padding-bottom: 75px;
  flex: none;
  flex-grow: 0;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 1080px;
  height: 119px;
  border-radius: 10px;
}
@media (max-width: 860px) {
  .header {
    gap: 10px;
    width: 760px;
    height: 119px;
  }
}

@media (max-width: 640px) {
  .header {
    gap: 10px;
    width: 540px;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}
