.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-button,
.close-button {
  color: #a4a4a4;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #949494;
  }
}

.icon-separator {
  width: 3px;
  height: 30px;
  background-color: #a4a4a4;
  margin: 0 10px;
}

.settings-modal-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  outline: none;
  padding: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 60px;
  border-radius: 40px 40px 0 0;
  background-color: #ebebeb;
  padding: 3px 32px;
}

.settings-modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.input-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 16px 30px 16px;
}

.modal-input {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  padding: 5px;
  font-size: 16px;
}

.button-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 16px 30px 16px;
}
